# ====================================
# GENERAL
# ====================================
NODE_ENV=development
HOST=localhost
CORS_ORIGIN=http://localhost:5173

# ====================================
# PORTS
# ====================================
API_GATEWAY_PORT=3000
AUTH_SERVICE_PORT=3001
USER_SERVICE_PORT=3002
ATTENDANCE_SERVICE_PORT=3003
AUDIT_SERVICE_PORT=3004
NOTIFICATION_SERVICE_PORT=3005
REDIS_PORT=6379
AMQP_PORT=5672

# ====================================
# DATABASES
# ====================================
# User Service
USER_DB_URL=postgres://postgres:postgres@localhost:5432/user_db?schema=public

# Attendance Service
ATTENDANCE_DB_URL=postgres://postgres:postgres@localhost:5432/attendance_db?schema=public

# Audit Service
AUDIT_DB_URL=postgres://postgres:postgres@localhost:5432/audit_db?schema=public

# ====================================
# JWT CONFIG
# ====================================
JWT_SECRET=supersecret
ACCESS_TOKEN_TTL_SEC=900       # 15 minutes
REFRESH_TOKEN_TTL_SEC=604800   # 7 days

# ====================================
# HASH CONFIG
# ====================================
SALT_ROUNDS=10